[submodule "core"]
	path = core
	url = ../core.git
[submodule "core-fonts"]
	path = core-fonts
	url = ../core-fonts.git
[submodule "dictionaries"]
	path = dictionaries
	url = ../dictionaries.git
[submodule "sdkjs"]
	path = sdkjs
	url = ../sdkjs.git
[submodule "server"]
	path = server
	url = ../server.git
[submodule "web-apps"]
	path = web-apps
	url = ../web-apps.git
